{% extends "base.html"%}

{% block content %}
<div class="container container-flex">
    <main role="main">
        
       
      
        <article class="article-recent">
            <div class="article-recent-main">
                <h2 class="article-title">{{data.title}}</h2>
                <p class="article-body">{{data.description}}</p>
                <a href="find/{{data.id}}" class="article-read-more">CONTINUE READING</a>
            </div>
            <div class="article-recent-secondary">
                
                    <img src="{{data.image.url}}" alt="" class="">
          
                <p class="article-info">{{data.date}} | </p>
            </div>
        </article>
       
        
        
       
    </main>
    
   
        
        
        
        
    </aside>
    
</div>

{% endblock %}