{% extends "base.html"%}

{% block content %}
<div class="container container-flex">
    <main role="main">
        
        <article class="article-featured">
            <img src="../static/img/life.jpg" alt="simple white desk on a white wall with a plant on the far right side" class="article-image">
        </article>
        {% for x in Blog %}
        <article class="article-recent">
            <div class="article-recent-main">
                <h2 class="article-title">{{x.title}}</h2>
                <p class="article-body">{{x.description}}</p>
                <a href="find/{{x.id}}" class="article-read-more">CONTINUE READING</a>
            </div>
            <div class="article-recent-secondary">
                {% if x.image %}
                    <img src="{{x.image.url}}" alt="two dumplings on a wood plate with chopsticks" class="article-image">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p class="article-info">{{x.date}} | 3 comments</p>
            </div>
        </article>
        {% endfor %}
        
        
       
    </main>
    
    <aside class="sidebar">
        
        <div class="sidebar-widget">
            <h2 class="widget-title">ABOUT ME</h2>
            <img src="../static/img/about-me.jpg" alt="john doe" class="widget-image">
            <p class="widget-body">I find life better, and I'm happier, when things are nice and simple.</p>
        </div>
        
        
        
    </aside>
    
</div>

{% endblock %}